.model-build-card {
  &.user-model-card {
    overflow-y: hidden;
    width: 85%;
    min-height: 540px;
  }
  & .ant-card-body {
    & .model-build-container {
      border-top: 1px solid #c4c4c4;
      margin-top: 30px;
      height: 475px;
    }

    & .model-build-header {
      & h2 {
        margin-left: 10px;
      }
    }
    & .ant-table-cell {
      text-align: center;
    }
  }
}

.delete-model-modal {
  text-align: center;

  & h2 {
    margin-bottom: 50px;
  }
}

.delete-spinner {
  & .ant-spin-dot-item {
    background-color: white;
  }
}
