.dashbord-background-video {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  padding: 0px;
  object-fit: cover;
  top: 0;
}

.welcome-user {
  position: relative;
  margin-top: 20px;
}

.model-build-card {
  & .ant-card-body {
    padding: 30px 0px 15px 0px;
    & .model-build-container {
      border-top: 1px solid #c4c4c4;
      margin-top: 30px;
      height: 475px;
    }
  }
}

.dashboard-welcome-card {
  & .ant-card-body {
    padding: 15px 0px 15px 0px;
    & .model-build-container {
      border-top: 1px solid #c4c4c4;
      margin-top: 30px;
      height: 475px;
      // width: 40% !important;
      // display: inline-block !important;
    }
  }
}
.dashboard-card {
  height: 90% !important;
  margin: 25px 50px 20px 50px !important;

  // & .video-frame {
  //   height: 260px;
  // }
}
.dashboard-video-card {
  // bottom: 2.1%;
  // height: 90%;
  & .ant-card-body {
    padding: 30px 0px 15px 0px;
    & .model-build-container {
      border-top: 1px solid #c4c4c4;
      margin-top: 30px;
      height: 475px;
      // width: 40% !important;
      // display: inline-block !important;
    }
  }
  .dashboard-video-dots {
    & .react-carousel-dots-dot.active {
      background-color: #397acf;
    }
    & .react-carousel-dots-dot {
      border: none;
      background-color: #bdbdbd;
      width: 12px;
      height: 12px;
    }
  }

  .dahsboard-video-text {
    padding-left: 5%;
    width: 411px;
    height: 60px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #2b314a;
    margin-top: 10px;
  }
}
/**WELCOME Card*/
.dashboard-welcome-card {
  & .welcome-header {
    width: 386px;
    height: auto;
    margin-bottom: 65px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #2b314a;
  }
  & .welcome-text {
    width: auto;
    height: 120px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    padding-top: 15%;
    /* or 167% */

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;

    color: #2b314a;
  }
  & .ant-card-body {
    padding-left: 24px;
  }
}

.dashboard-bottom-card {
  margin: 40px 50px 40px 50px !important;
  overflow-y: hidden;
  padding: 0px !important;
  & .ant-card-body {
    padding: 0px !important;
    & .bottom-img {
      width: 100%;
    }
  }
}

.dashboard-hi-h2 {
  position: relative;
  padding-left: 24px;
  margin-left: 20px;
  margin-top: 25px;
}

.next-video-btn {
  width: 192px;
  height: 50px;
  background-color: #397acf;
  border: none;
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  bottom: 20px;
}
