.edit-button-container {
  display: inline-block;
}

.delete-button-container {
  display: inline-block;
}

.save-button-container {
  display: inline-block;
}

.cancle-button-container {
  display: inline-block;
}
