.connect-data-pipe {
  font-weight: 600;

  min-height: 55vh;
  .import-export-div {
    margin-bottom: 17px;
    .import-export-radio {
      .import-radio-btn {
        display: inline-block;
      }
      .export-radio-btn {
        display: inline-block;
      }
      .ant-radio-wrapper {
        .ant-radio-checked {
          .ant-radio-inner {
            border-color: #397acf;
          }
          .ant-radio-inner::after {
            background-color: #397acf;
          }
        }
      }
    }
  }

  .submit-btn-div {
    .form-submit-button {
      width: 100%;
      height: 40px;
      margin-top: 10px;
      background-color: #c4c4c4;
      // border: 2px solid #3582c5;
      border: none;
      box-sizing: border-box;
      border-radius: 12px;
      font-weight: bold;
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.05em;
      color: white;

      &.active {
        background-color: #3582c5;
        color: #ffffff;
      }
    }
  }
  .ant-upload.ant-upload-drag {
    border-radius: 10px;
  }
}
.selection-div {
  margin-bottom: 20px;
  .select-data-pipeline-label {
    display: block;
  }
  .selection-import-export {
    .ant-select-selector {
      border-radius: 10px;
    }
  }
}

.connect-data-back-button{
  border-radius: 8px;
  width: 120px;
  background-color: #397acf;
}

.notebook-search{
  margin-top: 55px;
  .select-data-pipeline-label {
    display: block;
  }
  .browse-notebook{
    border-radius: 10px;
  }
}



.data-pipe-form {
  .pipeline-connection-input-item {
    margin-bottom: 24px;
    .pipeline-connection-input {
      height: 40px;
      border-radius: 10px;
    }
  }

  .datapipe-selection-import-export {
    .ant-select-selector {
      border-radius: 10px;
    }
  }
}

.ant-upload-text {
  &.limit {
    font-size: 12px !important;
  }
}

.data-set{
  margin-top: 5px;
}