.modal-component-logOutput {
  & .ant-modal-content {
    border-radius: 12px !important;
    & .ant-modal-header {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      & .ant-modal-title {
        font-size: 18px;
      }
    }
    & .ant-modal-body {
      height: 77vh;
      padding: 38px;
      overflow-y: scroll;
      & .modal-cantainer {
        & .modal-title-container {
          font-weight: 600;
        }
        & .modal-containter-text {
          color: black;
        }
        & .modal-button {
          width: 94px;
          height: 28px;
          margin-top: 0px;
          background-color: #3582c5;
          border: none;
          box-sizing: border-box;
          border-radius: 7px;
          /* font-weight: bold; */
          font-size: 11px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.05em;
          color: white;
        }

        & .licence-form {
          width: auto !important;
          & .form-submit-button {
            width: 204px;
            height: 48px;
            background-color: #ffffff;
            border: 2px solid #3582c5;
            box-sizing: border-box;
            border-radius: 12px;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #3582c5;
            display: block;
            margin: 0 auto !important;
            &.active {
              background-color: #3582c5;
              color: #ffffff;
            }
          }
          .spin-loading {
            line-height: 23px;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
