.data-dictionary-container {
  & .ant-card {
    width: 85%;
    background: #fffeff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    min-height: 65vh;
    overflow-y: scroll;
    & .ant-card-body {
      & .model-build-container {
        border-top: 1px solid #c4c4c4;
        margin-top: 30px;
        height: 520px;
      }
      & .data-dictionary-header {
        color: #000000;
      }
      & .data-dictionary-row-header {
        text-align: left;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1.1px;
        color: #000000;
      }
      & .data-dictionary-rows-one {
        text-align: right;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        /* or 117% */
        display: flex;
        align-items: center;
        letter-spacing: 1.1px;
        color: #000000;
      }
      & .data-dictionary-rows-two {
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #3582c5;
      }
    }
  }
}
.model-analytics-container {
  margin-top: 0px;
  & .iframe-container {
    margin-top: 0px;
    height: calc(100vh - 80px);
    border-radius: 30px;
    margin-top: 0px;
  }
}

.build-analytics-list {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto auto;
  & .card-container {
    display: flex;
    flex-wrap: wrap;
    & .ant-card-body {
      padding: 0 !important;
      margin: 38px 0px;
    }
  }
}

.search-by-tags-analytics {
  margin-bottom: 20px;

  & .input-search-by-tag {
    border-radius: 10px;
    text-align: center;
  }
}
.build-power-bi {
  .report-style-class {
    height: 800px;
  }
}
