.licence-title {
  margin-bottom: 20px;

  font-size: 24px;
  // margin-left: 25px;
}

.paragraph-content {
  color: black;

  // font-weight: bold;
  // margin-left: 25px;
}

.licence-form {
  width: 300px;
  // padding: 25px;
  & .licence-input-item {
    margin-bottom: 24px;
    & .licence-input-label {
      color: black;
      font-weight: bold;
    }

    & .licence-input {
      border-radius: 10px;
      border: 1px solid black;
      height: 48px;
    }
    & ::placeholder {
      color: black;
      // font-weight: bold;
    }

    &.model-name {
      margin-bottom: 10px;
    }
  }
  & .connection-status-item {
    padding: 10px 11px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    height: 40px;
    margin-bottom: 24px;
    // width: 300px;
    & .connection-status-result {
      margin: auto;
    }
  }
  & .connection-form-button-test,
  .connection-form-button-test:hover {
    width: 150px;
    height: 48px;
    margin-top: 0px;
    background-color: white;

    // border: 2px solid #3582c5;
    border: 2px solid #3582c5;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #3582c5;

    &.active {
      background-color: #3582c5;
      color: #ffffff;
    }
  }
  & .licence-validate-item {
    margin-bottom: 0px;
  }
}
