.data-pipe {
  font-weight: 600;
  padding-top: 50px;
  min-height: 65vh;
  .import-export-div {
    margin-bottom: 17px;
    .import-export-radio {
      .import-radio-btn {
        display: inline-block;
      }
      .export-radio-btn {
        display: inline-block;
      }
      .ant-radio-wrapper {
        .ant-radio-checked {
          .ant-radio-inner {
            border-color: #397acf;
          }
          .ant-radio-inner::after {
            background-color: #397acf;
          }
        }
      }
    }
  }
  .selection-div {
    margin-bottom: 20px;
    .select-data-pipeline-label {
      display: block;
      margin-bottom: 10px;
    }
    .selection-import-export {
      .ant-select-selector {
        border-radius: 10px;
      }
    }
    .loading-pipeline-container {
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      overflow: auto;
      padding: 8px 24px;
      width: auto;
      height: 300px;
      .pipline-list-item {
        display: block;
        // padding: 0px;
        margin-bottom: 10px;
        border: none;
        box-sizing:unset;
      }
      .pipline-list-item::before, .pipline-list-item::after{
        content: unset;
        border: none;
      }
      
      .pipline-list-item,.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within{
        // box-shadow: unset;
        
      }
      .ant-radio-button-wrapper-checked{
        border: 1px solid #1890ff;
        border-radius: 6px;
      }
    }
  }

  .ant-upload.ant-upload-drag {
    border-radius: 10px;
  }
}

.create-pipeline-input-item {
  margin-bottom: 24px;

  & .pipeline-input {
    border-radius: 10px;
    border: 1px solid black;
    height: 40px;
    width: 300px;
  }
}

.border-dropdown{
  border-radius: 12px;
}