.csv-text {
  font-size: 14px;

  .file-name-text {
    font-weight: 900;
  }
  .file-name-text-title {
    font-weight: 600;
  }
}
.params-div {
  display: inline;

  .params-info {
    margin-right: 10px;
  }
}
.header-status-div {
  padding-top: 6px;
}

.csv-selection {
  margin-right: 32px;
  .ant-select-selector {
    border-radius: 8px !important;
  }
}
.skip-for-n-rows {
  border-radius: 8px !important;
}
.submitBtn {
  float: right;
  margin-top: 20px;
  .execut-btn,
  .execut-btn:hover {
    background-color: #397acf;
    color: white;
    border: none;
    border-radius: 8px;
    width: 90px;
    float: right;
    height: 29px;
  }
  &:disabled {
    &:hover {
      background-color: #ccc !important;
      color: black !important;
    }
  }
}

.restartBtn {
  margin-top: 20px;
  .restart-btn,
  .restart-btn:hover {
    background-color: #397acf;
    color: white;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 29px;
  }
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
  .react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    bottom: 0;
    right: -5px;
    cursor: col-resize;
    z-index: 1;
  }
}

.ant-table {
  font-size: 12px;
}
.long-msg {
  margin-left: 0px !important;
}
