.data-pipe {
  font-weight: 600;
  padding-top: 50px;
  min-height: 65vh;
  .import-export-div {
    margin-bottom: 17px;
    .import-export-radio {
      .import-radio-btn {
        display: inline-block;
      }
      .export-radio-btn {
        display: inline-block;
      }
      .ant-radio-wrapper {
        .ant-radio-checked {
          .ant-radio-inner {
            border-color: #397acf;
          }
          .ant-radio-inner::after {
            background-color: #397acf;
          }
        }
      }
    }
  }
  .selection-div {
    margin-bottom: 20px;
    .select-data-pipeline-label {
      display: block;
      // margin-bottom: 10px;
      padding-top: 10px;
    }
    .selection-import-export {
      .ant-select-selector {
        border-radius: 10px;
      }
    }
    .loading-pipeline-container {
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      overflow: auto;
      padding: 8px 24px;
      width: auto;
      height: 300px;
      .pipline-list-item {
        display: block;
        // padding: 0px;
        margin-bottom: 10px;
        border: none;
        box-sizing:unset;
        &.highlighted {
          background-color: #3582c5;
          color: white;
        }
      }
      .pipline-list-item::before, .pipline-list-item::after{
        content: unset;
        border: none;
      }
      
      .pipline-list-item,.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within{
        // box-shadow: unset;
        
      }
      .ant-radio-button-wrapper-checked{
        border: 1px solid #1890ff;
        border-radius: 6px;
      }
    }
    & .ant-row{
      & .refresh-button{
        width: 80px;
        height: 40px;
        //margin-top: 10px;
        // border: 2px solid #3582c5;
        border: none;
        box-sizing: border-box;
        border-radius: 12px;
        font-weight: bold;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.05em;
        background-color: #3582c5;
        color: #ffffff;
        margin-left: 20px;
        float: right;
      }
    }
  }
  .submit-btn-div {
    & .form-submit-button {
      width: 180px;
      height: 40px;
      margin-top: 10px;
      background-color: #c4c4c4;
      // border: 2px solid #3582c5;
      border: none;
      box-sizing: border-box;
      border-radius: 12px;
      font-weight: bold;
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.05em;
      color: white;

      &.active {
        background-color: #3582c5;
        color: #ffffff;
        &.pipeline-button{
          float: right;
        }
      }
    }
  }
  .ant-upload.ant-upload-drag {
    border-radius: 10px;
  }
}


.heading-data-pipeline{
  background-color: #fafafa;
  border-radius: 10px;
  padding: 5px;
}

.grid-preview-data{
  border-bottom:1px solid  rgb(204, 204, 204);
}

.dropdown-model{
    max-width: 100px!important;
    min-width: 100px;
    display:table-cell;
 // width: 150px;
  // margin-top: 25px;
  // margin-bottom: 10px;

  @media only screen and (max-width: 1440px) {
    max-width: 75px!important;
    min-width: 75px;
  }
}