.model-build-card {
  overflow-y: scroll;
  & .ant-card-body {
    padding: 20px 0px 15px 20px;
    & .model-build-container {
      border-top: 1px solid #c4c4c4;
      height: 475px;
      & .form-container {
        padding: 20px 35px 15px;
        text-align: center;
        & .message-alert {
          width: 500px;
          height: auto;
          border: 1px solid #e5e5e5;
          box-sizing: border-box;
          border-radius: 12px;
          margin-bottom: 24px;
          margin: 20px auto;
          background-color: rgba(43, 49, 74, 0.1);

          & .message-icon {
            width: 24px;
            height: 24px;
            margin-left: 10px;
            &.info-icon {
              width: 30px;
              height: 30px;
            }
          }

          & .message {
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #757575;
            display: inline-block;
            padding: 15px 10px;
            vertical-align: middle;
            width: auto;
          }

          &.success-msg {
            width: 290px;
          }

          &.error-msg {
            width: 285px;
          }

          &.long-msg {
            width: 570px;
            margin: 20px auto !important;
          }
        }
        & .header-section {
          font-weight: 800;
          font-size: 40px;
          line-height: 30px;
          display: block;
          margin-bottom: 18px;
          color: #2b314a;
        }
        & .header-message {
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 1.1px;
          color: #000000;
          display: block;
          width: 65%;
          margin: 20px auto 20px auto;
        }

        & .date-picker-component {
          margin-bottom: 33px;
        }

        & .form-submit-button {
          margin-top: 30px !important;
          width: 180px;
          height: 48px;
          background-color: #ffffff;
          border: 2px solid #3582c5;
          box-sizing: border-box;
          border-radius: 12px;
          font-weight: bold;
          font-size: 18px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.05em;
          color: #3582c5;
          display: block;
          margin: 0 auto;

          &.active {
            background-color: #3582c5;
            color: #ffffff;
          }
        }
        .spin-loading {
          text-align: center;
          line-height: 23px;
          display: block;
          margin: 0 auto;
        }

        & .build-form {
          & .build-input-item-start {
            margin-bottom: 33px;
            display: inline-block;
            margin-right: 10px;
            & .ant-picker {
              width: 210px;
              height: 48px;
              border: 1px solid #000000;
              box-sizing: border-box;
              border-radius: 12px;
              cursor: pointer;
              & ::placeholder {
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                color: #000000;
              }
              & .ant-picker-input {
                & input {
                  font-size: 18px;
                  text-align: center;
                  color: black;
                }

                & .ant-picker-suffix {
                  & .anticon {
                    font-size: 20px;
                    color: black;
                  }
                }
              }
            }
            & .ant-form-item-label {
              margin-right: 178px;
              & label {
                font-weight: 600;
                font-size: 14px;
                line-height: 30px;
                color: #777b90;
              }
              & label.ant-form-item-required::before {
                display: none;
              }
              & label.ant-form-item-required::after {
                display: none;
              }
            }

            &.error {
              & .ant-picker {
                width: 210px;
                height: 48px;
                border: 1px solid red;
                box-sizing: border-box;
                border-radius: 12px;
                cursor: pointer;
                & ::placeholder {
                  font-size: 18px;
                  line-height: 23px;
                  text-align: center;
                  color: #000000;
                }
                & .ant-picker-input {
                  & input {
                    font-size: 18px;
                    text-align: center;
                    color: red;
                  }

                  & .ant-picker-suffix {
                    & .anticon {
                      font-size: 20px;
                      color: black;
                    }
                  }
                }
              }

              & .ant-form-item-label {
                margin-right: 175px;
                & label {
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 30px;
                  color: red;
                }
                & label.ant-form-item-required::before {
                  display: none;
                }
                & label.ant-form-item-required::after {
                  display: none;
                }
              }
            }
          }

          & .build-input-item-end {
            margin-bottom: 33px;
            display: inline-block;
            margin-left: 10px;
            & .ant-picker {
              width: 210px;
              height: 48px;
              border: 1px solid #000000;
              box-sizing: border-box;
              border-radius: 12px;
              cursor: pointer;
              & ::placeholder {
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                color: #000000;
              }
              & .ant-picker-input {
                & input {
                  font-size: 18px;
                  text-align: center;
                  color: black;
                }

                & .ant-picker-suffix {
                  & .anticon {
                    font-size: 20px;
                    color: black;
                  }
                }
              }
            }

            & .ant-form-item-label {
              margin-right: 175px;
              & label {
                font-weight: 600;
                font-size: 14px;
                line-height: 30px;
                color: #777b90;
              }
              & label.ant-form-item-required::before {
                display: none;
              }
              & label.ant-form-item-required::after {
                display: none;
              }
            }

            &.error {
              & .ant-picker {
                width: 210px;
                height: 48px;
                border: 1px solid red;
                box-sizing: border-box;
                border-radius: 12px;
                cursor: pointer;
                & ::placeholder {
                  font-size: 18px;
                  line-height: 23px;
                  text-align: center;
                  color: #000000;
                }
                & .ant-picker-input {
                  & input {
                    font-size: 18px;
                    text-align: center;
                    color: red;
                  }

                  & .ant-picker-suffix {
                    & .anticon {
                      font-size: 20px;
                      color: black;
                    }
                  }
                }
              }

              & .ant-form-item-label {
                margin-right: 175px;
                & label {
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 30px;
                  color: red;
                }
                & label.ant-form-item-required::before {
                  display: none;
                }
                & label.ant-form-item-required::after {
                  display: none;
                }
              }
            }
          }

          & .build-input-item-left {
            margin-bottom: 15px;
            display: inline-block;
            margin-left: 10px;
            & .schedule-period-select {
              width: 175px;
              margin-right: 12px;
              & .ant-select-selector {
                border: 1px solid rgba(43, 49, 74, 0.8);
                box-sizing: border-box;
                border-radius: 12px;
                height: 50px;
                font-size: 18px;
                & .ant-select-selection-item {
                  margin-top: 8px;
                  color: black;
                }
              }
            }

            & .ant-form-item-label {
              margin-right: 118px;
              & label {
                font-weight: 600;
                font-size: 14px;
                line-height: 30px;
                color: #777b90;
              }
              & label.ant-form-item-required::before {
                display: none;
              }
              & label.ant-form-item-required::after {
                display: none;
              }
            }
          }
          & .build-input-item-center {
            display: inline-block;
            margin-bottom: auto;
            & .schedule-period-select {
              width: 175px;
              & .ant-select-selector {
                border: 1px solid rgba(43, 49, 74, 0.8);
                box-sizing: border-box;
                border-radius: 12px;
                height: 50px;
                font-size: 18px;
                & .ant-select-selection-item {
                  margin-top: 8px;
                  color: black;
                }
              }
            }

            & .ant-form-item-label {
              margin-right: 75px;
              & label {
                font-weight: 600;
                font-size: 14px;
                line-height: 30px;
                color: #777b90;
              }
              & label.ant-form-item-required::before {
                display: none;
              }
              & label.ant-form-item-required::after {
                display: none;
              }
            }
          }
          & .build-input-item-right {
            margin-bottom: 15px;
            display: inline-block;
            margin-left: 10px;
            & .schedule-period-select {
              & .ant-select-selector {
                border: 1px solid rgba(43, 49, 74, 0.8);
                box-sizing: border-box;
                border-radius: 12px;
                & .ant-select-selection-item {
                  margin-top: 8px;
                }
              }
            }

            & .schedule-time-select {
              width: 175px;
              height: 50px;
              border: 1px solid #000000;
              box-sizing: border-box;
              border-radius: 12px;
              cursor: pointer;
              & ::placeholder {
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                color: #000000;
              }
              & .ant-picker-input {
                & input {
                  font-size: 18px;
                  text-align: center;
                  color: black;
                }

                & .ant-picker-suffix {
                  & .anticon {
                    font-size: 20px;
                    color: black;
                  }
                }
              }
            }

            & .schedule-period-select {
              & .ant-select-selector {
                border: 1px solid rgba(43, 49, 74, 0.8);
                box-sizing: border-box;
                border-radius: 12px;
                height: 50px;
                font-size: 18px;
                & .ant-select-selection-item {
                  margin-top: 8px;
                  color: black;
                }
              }
            }

            & .ant-form-item-label {
              margin-right: 130px;
              & label {
                font-weight: 600;
                font-size: 14px;
                line-height: 30px;
                color: #777b90;
              }
              & label.ant-form-item-required::before {
                display: none;
              }
              & label.ant-form-item-required::after {
                display: none;
              }
            }
          }

          & .schedule-input-container {
            margin-bottom: 20px;
            & .ant-row-middle {
              width: 850px;
              margin: 0 auto;
            }
            .schedule-monthly-text {
              font-weight: 600;
              font-size: 14px;
              line-height: 30px;
              color: #777b90;
            }
            // .schedule-monthly-text-day{
            // text-align: right;
            //  }
          }

          & .schedule-checkbox-container {
            margin: 10px 0px 25px 0px;
            width: auto;
            display: inline-block;
            & .day-selection {
              display: block;
              text-align: initial;
              font-weight: 600;
              font-size: 14px;
              line-height: 30px;
              letter-spacing: 0.15px;
              color: #777b90;
            }
            & .ant-checkbox-group {
              & .ant-checkbox-group-item {
                & span {
                  font-size: 18px;
                }
              }
            }
          }
        }

        & .data-grid-view {
          width: 800px;
          height: 250px;
          margin: 0 auto;
          overflow-y: scroll;
          border: 1px solid #dedbdb;
          & .warnings-table {
            overflow-y: scroll;
            height: 200px;
          }
          .report-single-tab {
            padding: 10px 15px 0px;

            & .validation-headers {
              display: flex;
              margin: 20px 0px 5px 0px;
              font-size: 18px;
              font-weight: bold;
              &.top-header {
                margin: 10px 0px 5px 0px;
              }
            }

            & p {
              font-size: 10px;
              color: black;
            }
            & .status-label {
              text-align: center;
              border-radius: 3px;
              color: white;
              width: 50px;
              margin: 0 auto;
              &.fail {
                background-color: red;
              }
              &.warning {
                background-color: #f8ac4f;
              }
            }
            & .table-single-item {
              padding: 0px;
              border-bottom: none;
              border-top: 1px solid #f0f0f0;
              & p {
                margin-bottom: 3px;
                margin-top: 3px;
              }
              & .warning-tags {
                display: flex;
              }
            }
            & .ant-table-row {
              border-bottom: none;
            }
            & .report-tab {
              height: 18px;
              border-top: 1px solid #c4c4c4;
              & .ant-col {
                margin-bottom: 0px;
                margin-top: 1px;
                & .title-content {
                  font-weight: bold;
                  display: flex;
                }
              }
            }
          }
        }

        & .data-accuracy {
          margin-top: 10px;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          color: #000000;
          display: inline-block;
        }
      }
    }

    & .footer-container {
      margin-top: 10px;
      & .form-previous-button {
        width: 160px;
        height: 48px;
        background-color: #ffffff;
        border: 2px solid #3582c5;
        box-sizing: border-box;
        border-radius: 12px;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #3582c5;
        margin: 0 auto;
        display: block;

        &.active {
          background-color: #3582c5;
          color: #ffffff;
        }
      }

      & .form-next-button {
        width: 160px;
        height: 48px;
        background-color: #ffffff;
        border: 2px solid #c4c4c4;
        box-sizing: border-box;
        border-radius: 12px;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #c4c4c4;
        margin: 0 auto;
        display: block;

        &.active {
          background-color: #3582c5;
          color: #ffffff;
          border: none !important;
        }
      }
      & .log-output {
        background-color: transparent;
        box-shadow: none;
        border: none;
        color: #397acf;
        position: absolute;
        bottom: 10px;
      }
    }

    & .model-build-finished-container {
      height: 480px;
      & .model-build-finished-area {
        text-align: center;
        padding: 180px 35px;
        & .success-icon {
          display: inline-block;
          & .anticon {
            font-size: 20px;
            color: #3582c5;
            font-size: 40px;
          }
        }

        & .success-message {
          display: inline-block;
          vertical-align: sub;
          text-align: left;
          margin-left: 20px;
          & span {
            display: block;
            &.main-message {
              font-weight: bold;
              font-size: 24px;
              line-height: 21px;
              letter-spacing: 0.1px;
              color: #000000;
            }
            &.sub-message {
              font-weight: normal;
              font-size: 18px;
              line-height: 30px;
              letter-spacing: 0.1px;
              color: #000000;
            }
          }
        }
      }
    }
  }
}

.shedule-modal {
  margin: 100px auto;
  & .ant-modal-content {
    & .ant-modal-body {
      & .modal-cantainer {
        & .licence-form {
          & button {
            margin-left: 90px;
          }
        }
      }
    }
  }
}

.form-submit-button-build-pipline {
 
  width: 180px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #3582c5;
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #3582c5;
  display: block;
  margin: 0 auto;

  &.active {
    background-color: #3582c5;
    color: #ffffff;
    margin-top: 30px;
  }
}

.log-output-table {
  & tbody tr td {
    height: 40px;
    padding: 0 0 0 10px;
  }

  & thead th {
    width: 5px;
    padding: 7px 2px 7px 10px;
    vertical-align: top;
  }
}

.test-data-metrix-continer {
  & table {
    margin: 0 auto;
    & td {
      padding: 10px 25px;
      text-align: center;
      border-collapse: collapse;
      font-family: Arial;
      &.metrix-header {
        font-size: 12px;
        font-weight: bold;
        color: black;
      }
    }
  }
}

.data-info-icon {
  font-size: 24px;
  margin: 0px 25px;
  float: right;
  cursor: pointer;
}

.data-info-modal {
  width: 70% !important;
  margin-top: -50px;
  overflow: hidden;
  & .ant-modal-content {
    & .ant-modal-header {
      & .ant-modal-title {
        font-size: 18px;
      }
    }
  }
  &.validate-data {
    & .ant-modal-content {
      overflow-y: scroll;
      & .ant-modal-body {
        height: 600px;
      }
    }
  }
}

.empty-logs-data {
  display: block;
  margin: 20% auto;
  width: 125px;
  font-size: 20px;
  & .ant-empty-description {
    margin-left: 17px;
    width: 150px;
  }
}

.validation-headers {
  display: flex;
  margin: 20px 0px 5px 0px;
  font-size: 18px;
  font-weight: bold;
  &.top-header {
    margin: 10px 0px 5px 0px;
  }
}

.build-wizard {
  & .ant-card-body {
    padding: 0px 0px 20px 0px !important;
    .model-build-container {
      height: 475px !important;
    }
  }
}

.varible-importance-empty {
  font-size: 10px;
  color: black;
}

#model-name-submit {
  margin-top: 24px !important;
}

.error-message-shedule {
  color: red;
}
